@import '../../sass/variables';
@import '../../sass/mixins';

.movies {
  background-color: $secondaryBcgtColor;
  &-title {
    margin-bottom: 50px;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.4em;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
  }
}
